<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
<meta name="description" content="Diagram showing the FlowChart for {{ flow_name }}"/>
<style>
  .mermaid {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
</style>
</head>
<title>Tree Example</title>
<body>
<div class="mermaid">
{{ mermaid_js_string }}
</div>
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
</script>
  </body>
</html>
</body>
</html>
