<!DOCTYPE html>
<html lang="en">
  <body>
    <pre class="mermaid">
  graph LR
      A --- B
      B-->C[fa:fa-ban forbidden]
      B-->D(fa:fa-spinner);
    </pre>
  <div class="mermaid">
    graph TD;
    id("create_data") ==> id2("transformation_function_1")
    id("create_data") --> id3("transformation_function_2")
    id3("transformation_function_2") --> id4(append_data)
    id2("transformation_function_1") --> id4(append_data)
    id4(append_data) --> id5(show_data)
  </div>
  <div class="mermaid">
    {{ mermaid_js_string }}
    </div>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    </script>
  </body>
</html>
</body>
</html>
