<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlowRunner</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<!-- use go-debug.js when developing and go.js when deploying -->
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <!-- The DIV for a Diagram needs an explicit size or else we will not see anything.
     In this case we also add a background color so we can see that area. -->
    <div id="myDiagramDiv"
        style="width:400px; height:150px; background-color: #DAE4E4;">
    </div>
    <script>
        const myDiagram = new go.Diagram("myDiagramDiv");
    </script>
  </body>
</html>