name: Run Tests and Linting

on:
  push:
    paths-ignore:
      - "docs/**"
      - "readme.md"
      - "**/.rst"
      - "**/.jpg"
      - "**/.png"
      - "**/.md"

    branches: [ master ]
  pull_request:
    paths-ignore:
      - "docs/**"
      - "readme.md"
      - "**/.rst"
      - "**/.jpg"
      - "**/.png"
      - "**/.md"

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        pip install build>=0.10.0
        pip install .[dev]
    # the below pre commit does all linting checks including black and linting tools
    - name: pre-commit
      uses: pre-commit/action@v3.0.0
    - name: Run Tests
      run: |
        coverage run -m pytest --continue-on-collection-errors
        coverage xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
